img {
  width: 100px;
  height: 100px;
}

header {
  background-color: #8ecae6;

}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #8ecae6;
}

.horned-beast {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #219ebc;
  background-color: #fb8500;
}

.selected-beast {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.selected-beast img {
  width: 50%;
  height: 10%;
}

footer {
  background-color: #8ecae6;

}
